{% extends "base.html" %}

{% block page_title %}About the initiative{% endblock %}

{% block head %}
    {{ super() }}
    <meta property="og:url" content="http://www.foundedinamerica.com/about" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://foundedinamerica.com/about" />
{% endblock %}

{% block container_header%}
    <h1>About Founded in America</h1>
    <span class="about">
        <p>
            Remember the United States? They’re that country that did Star Wars, don’t know if you heard of it. Oh, flying to the moon, that was pretty rad. And that computer that beat all human opponents at chess? That was us, too.
        </p>
        <p>
            In the land where venture capital pours out of the heavens like glorious sunshine, more companies are founded each year than anywhere else in the world. I mean, probably, right? Since we’re the birthplace of the microchip and the Internet, I guess it stands to reason that we’d have a startup or two.
        </p>
        <p>
            If you want to found a world-changing company, then I’ll bet burgers to bald eagles you want to do it in America. In fact, we lead the world in three essential startup ingredients: technology, business acumen, and obesity. OK, two essential ingredients.
        </p>
        <p>
            We saw <a href="http://foundedinholland.com" target="_blank">Founded in Holland</a>, a directory of innovative Dutch startups, and thought: Holland is a country? But we were also inspired to showcase some of our own world-beating startups in America.
        </p>
        <p>
            What do all of these companies have in common?
            <ol>
                <li>They were founded in the United States in the 21st century</li>
                <li>They’re on their way to becoming household names</li>
                <li>Their staff is paid exclusively in foosball tables</li>
            </ol>
        </p>
        <p>
            So here’s to the dreamers. The misfits. Those crazy visionaries who are, even now, building the robots that will one day enslave humanity. At least we’ll always have a chess partner.
        </p>
        <p>
            Do you want to get on the supersonic train to Success, USA? You can <a href="#join">submit an American startup</a> that meets these criteria, download the press kit, or follow us on Facebook and Twitter to get notifications about new additions. We’re part of the worldwide Founded X community, so if you wanted to learn about other countries’ startups for some reason, you can do that <a href="http://foundedx.com/" target="_blank">here</a>.
        </p>
    </span>
{% endblock %}

{% block container_join_box %}
    <div class="join-box join-box-about">
            <span><strong>Want to join Founded in America? <a class="typeform-share link" href="https://foundedinusa.typeform.com/to/jmiHgr" data-mode="2" target="_blank">Submit your American startup.</a></strong>
            <br><br><br>
            <a class="join-button" href="/">Check out the list</a></span>
            <br><br>
            <span>
                Follow on <a href="https://www.facebook.com/379013982261327" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> &
                <a href="https://twitter.com/foundedinusa" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
                &nbsp;&middot;&nbsp; <a href="/about">About&nbsp;the&nbsp;initiative</a>
                {# &nbsp;&middot;&nbsp; <a href="https://drive.google.com/folderview?id=0B3DAegL7MGt7MmRkbFRROVBPSmM&usp=sharing" target="_blank">Press&nbsp;kit</a> #}
                &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://foundedinusa.typeform.com/to/jmiHgr" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a>
                &nbsp;&middot;&nbsp; <a href="mailto:join@foundedinamerica.com" target="_blank">Contact</a>
            </span>
            <div align="center" style="width:170px; margin:0 auto;">
                <div class="fb-like" data-href="http://foundedinamerica.com/about" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>
                <div style="padding:5px;">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://foundedinamerica.com/about" data-via="foundedinusa" data-count="none" data-dnt="true">Tweet</a>
                </div>
            </div>
        </div>
{% endblock %}
