<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        {% block head %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="United States has the largest startup scene in the world. We list innovative startups with US roots." />
		<meta name="keywords" content="US, USA, United States, American, America, startups, entrepreneurs, innovation" />

    <meta property="og:title" content="Founded in USA - The most innovative startups in the US" />
		<meta property="og:description" content="United States has the largest startup scene in the world. We list innovative startups with US roots." />
		<meta property="og:site_name" content="Founded in USA" />
		<meta property="og:image" content="http://foundedinusa.com/static/images/avatar.png" />

		<meta name="twitter:site" content="@foundedinusa" />
		<meta name="twitter:title" content="Founded in USA - The most innovative startups in the United States" />

		{# <meta name="author" content="cloudients" /> #}
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
		<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/avatar.png') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>

		<title>{% block title %}{% endblock %}</title>
        {% endblock %}
	</head>
	<body>
		<div class="container">
            {% block container %}
			<header class="clearfix">
            	<a href="http://foundedinusa.com" class="no-link"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
                {% block container_header%}
                {% endblock %}
			</header>
            {% block container_inner %}{% endblock %}
            {% block container_join_box %}{% endblock %}
            <footer>
            	<span>{# Brought to you by <a href="http://cloudients.com" target="_blank">Cloudients</a>.  #}All the logos and trademarks used on this website belong to its rightful owner.<br>
                Thanks to <a href="http://cloudients.com" target="_blank">Cloudients</a> for the initial code base.</span>
                <a href="http://foundedx.com" class="no-link"><img src="{{ url_for('static', filename='images/partoffoundedx.png') }}" alt="Founded X"></a>
            </footer>
            {% endblock %}
		</div>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Typeform -->
	<script>
		(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
    </script>

	<!-- Smooth Scroll -->
    <script>
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html,body').animate({
				  scrollTop: target.offset().top
				}, 1000);
				return false;
			  }
			}
		  });
		});
    </script>

	{# Google Analytics #}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42917079-2', 'auto');
		ga('require', 'displayfeatures');
	  ga('send', 'pageview');
	</script>

	{# Minimal form #}
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/stepsForm.js') }}"></script>
	<script>
        $(function() {
			var theForm = document.getElementById( 'theForm' );

			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

					/*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/

					// let's just simulate something...
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'Thank you! We\'ll be in touch.';
					classie.addClass( messageEl, 'show' );
				}
			} );

			$('.join_the_list').on('click', function (e) {
                e.preventDefault();
                $('.join_form').slideDown('fast');
            });
		});
	</script>

	{# Twitter #}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	{# Facebook #}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	</body>
</html>
