{% extends "base.html" %}
{% block title %}Founded in USA - The most innovative startups in the USA{% endblock %}
{% block head %}
    {{ super() }}
        <meta property="og:url" content="http://foundedinusa.com/" />
        <meta property="og:type" content="website" />

        <script>
        /**
        * Function that tracks a click on an outbound link in Google Analytics.
        */
        var trackOutboundLink = function(url) {
           ga('send', 'event', 'outbound', 'click', url);
        }
        </script>
{% endblock %}
{% block container_header%}
    <h1>Founded in USA - The most innovative startups in USA</h1>
    <span>The United States has the largest startup scene in the world. We invented the swivel chair, Voyager 1, 3D printer and launched some impressive startups.
      Inspired by <a href="http://foundedinholland.com" target="_blank">Founded in Holland</a>, this list is dedicated to promote innovative US startups that promise to inspire. <a href="/about">Learn&nbsp;more</a> about the initiative.</span>
    <span class="apply">Want to join this list? <a href="#join">Submit your US startup.</a></span>
{% endblock %}

{% block container_inner%}

<ul class="cbp-rfgrid">
    {% for company in companies %}
    <li>
        <a href="{{ company.url }}" target="_blank" onclick="trackOutboundLink('{{ company.url }}'); return true;">
            <img src="static/images/logos/{{ company.logo }}" alt="{{ company.name }}" />
            <div>
                <h3>{{ company.name }}</h3>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block container_join_box %}
    <div class="join-box">
        <a name="join" class="no-link"></a>
        <span><strong>What do all these companies have in common?</strong><br>
        1) They were founded in United States in the 21st century<br>
        2) They're on their way to becoming disruptors and game changers<br>
        3) They promise to try to make it possible to download beer<br><br>
        Does your startup meet this criteria?<br>

        <br>
        <div>
          <a class="join-button join_the_list" href="#">Join the list</a>
{#          <a class="typeform-share link join-button" href="https://cloudients.typeform.com/to/i8zVtD" data-mode="2" target="_blank">Suggest a Startup</a></span>#}
        </div>
        <section class="join_form">
            <form id="theForm" class="simform" autocomplete="off">
                <div class="simform-inner">
                    <ol class="questions">
                        <li>
                            <span><label for="q1">Startup name*</label></span>
                            <input id="q1" name="q1" type="text" />
                        </li>
                        <li>
                            <span><label for="q2">Year founded*</label></span>
                            <input id="q2" name="q2" type="text" />
                        </li>
                        <li>
                            <span><label for="q3">Web address*</label></span>
                            <input id="q3" name="q3" type="text" placeholder="http://" />
                        </li>
                        <li>
                            <span><label for="q4">Twitter handle</label></span>
                            <input id="q4" name="q4" type="text" placeholder="eg. @foundedinusa" />
                        </li>
                        <li>
                            <span><label for="q5">URL to high resolution (preferably white) logo*</label></span>
                            <input id="q5" name="q5" type="text" placeholder="http://" />
                        </li>
                        <li>
                            <span><label for="q6">Contact person* (their name will not be published)</label></span>
                            <input id="q6" name="q6" type="text" />
                        </li>
                        <li>
                            <span><label for="q7">email (optional, but nice to stay updated)</label></span>
                            <input id="q6" name="q6" type="email" />
                        </li>
                    </ol><!-- /questions -->
                    <button class="submit" type="submit">Send answers</button>
                    <div class="controls">
                        <button class="next"></button>
                        <div class="progress"></div>
                        <span class="number">
                            <span class="number-current"></span>
                            <span class="number-total"></span>
                        </span>
                        <span class="error-message"></span>
                    </div><!-- / controls -->
                </div><!-- /simform-inner -->
                <span class="final-message"></span>
            </form><!-- /simform -->
        </section>
        <br><br>
        <span>Follow on <a href="https://www.facebook.com/foundedinusa" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> &
          <a href="https://twitter.com/foundedinusa" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
           &nbsp;&middot;&nbsp; <a href="/about">About&nbsp;the&nbsp;initiative</a>
           &nbsp;&middot;&nbsp; <a href="https://drive.google.com/folderview?id=0B3DAegL7MGt7MmRkbFRROVBPSmM&usp=sharing" target="_blank">Press&nbsp;kit</a>
           &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a>
           &nbsp;&middot;&nbsp; <a href="mailto:join@foundedinusa.com" target="_blank">Contact</a></span>

        <div align="center" style="width:170px; margin:0 auto;">
            <div class="fb-like" data-href="http://foundedinusa.com/" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="dark" style="margin-bottom:-20px; padding:5px;"></div>
            <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.foundedinusa.com" data-via="foundedinusa" data-count="none">Tweet</a></div>
        </div>

    </div>
{% endblock %}
